* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
  }

  .whatsapp-button {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    bottom: 10px;
    right: 10px;
    background-color: #25D366; /* Cor de fundo */
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    z-index: 1000; /* Mantém o botão acima de outros elementos */
    text-decoration: none; /* Remove sublinhado */
}


.whatsapp-button img {
  width: 32px;
}

/* Efeito de hover */
.whatsapp-button:hover {
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
    transition: transform 0.3s ease;
}
  
.nav {
  height: 70px;
  width: 100%;
  background-color: #203f8b;
  position: fixed; /* Torna a navbar fixa */
  top: 0; /* Fixa a navbar no topo da página */
  left: 0; /* Garante que a navbar ocupe toda a largura */
  border-bottom: 1px solid #3e5cab;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  z-index: 1000; /* Garante que a navbar fique sobre outros elementos */
}

  .nav-header {
    display: flex;
    align-items: center;
  }

  .nav-header img {
    width: 90px;
    margin-left: 20px;
  }
  
  .nav-title {
    font-size: 22px;
    color: #23a7ff;
    margin: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding: 7px 20px;
    position: relative;
    overflow: hidden; 
    transition: color 0.3s ease;
  }
  
  .nav-links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    align-items: center;
    background-color: #ffffff13; 
    transition: transform 0.3s ease; 
    transform: scaleX(0); 
    transform-origin: bottom right; 
  }
  
  .nav-links a:hover::after {
    transform: scaleX(1); /* Expande o fundo para o tamanho total */
    transform-origin: bottom left; /* A expansão vai da parte inferior esquerda */
  }
  
  .nav-links a:hover {
    color: #ffffff; /* Muda a cor do texto ao passar o mouse */
  }

  .nav-links a.active {
    background-color: #f0f0f046; /* Altere para a cor desejada */
    color: #ffffff; /* Altere para o texto da cor desejada */
    font-weight: bold; /* Torna o texto em negrito */
    border-radius: 50px; /* Adiciona um efeito arredondado */
}
  
  .nav-btn img {
    display: none;
    width: 25px;
    cursor: pointer;
  }
  
  #nav-check {
    display: none;
  }

  .header {
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 100vh;
    align-items: center;
  }
  

  .content-header {
    width: 50%;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    margin-top: -5%;

  }

  .content-text h1 {
   font-size: 60px;
   color: #203f8b;
   width: 80%;
   line-height: 60px;

  }

  .content-text p {
    font-size: 30px;
    line-height: 40px;
    width: 70%;
    margin-top: -30px;
    color: #3f3f3f;
   }

   

  .image-header {
    width: 50%;
    overflow: hidden;
  }

  .image-header img {
    position: relative; /* Altere para 'absolute' se necessário */
  width: 150%;
  left: -300px; /* Move 50px para a esquerda */
  }

  .content-button button {
    margin-top: 30px;
    background-color: #3e5cab; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    font-weight: bold; /* Texto em negrito */
    border: none; /* Remove borda padrão */
    border-radius: 30px; /* Deixa as bordas arredondadas */
    padding: 15px 40px; /* Tamanho interno do botão */
    cursor: pointer; /* Cursor de mãozinha */
    transition: all 0.3s ease; /* Transição suave para os efeitos */
    box-shadow: 0 5px 15px rgba(35, 167, 255, 0.4); /* Adiciona sombra */
  }
  
  .content-button button:hover {
    background-color: #1a8fdd; /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 8px 20px rgba(26, 143, 221, 0.6); /* Aumenta a sombra */
    transform: scale(1.05); /* Faz o botão crescer levemente */
  }
  
  .content-button button:active {
    transform: scale(0.95); /* Reduz o tamanho quando clicado */
    box-shadow: 0 4px 10px rgba(26, 143, 221, 0.6); /* Reduz a sombra */
  }
  

  .about {
    display: flex;
    width: 100%;
    height: 700px;
  }

  .about1-background1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aea89d;
    background-image: url('efeito-linhas.png');
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o espaço */
    background-position: center; /* Centraliza a imagem no container */
    width: 50%;
}

.about1-content {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 50%;
  color: white;
}

.about1-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}



.about1-text img {
   width: 345px;
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
   margin-left: 30px;
}

.about1-text h1 {
  font-size: 55px;
  text-align: center;
  line-height: 55px;
  margin-bottom: -10px;
 
}

.about1-text P {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 30px;
}

  .about1-background2 {
    background-color: #3e5cab;
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
  }


  .about2 {
    display: flex;
    width: 100%;
    height: 700px;
  }

  .about2-background1 {
    background-color: #5a8f76;
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .about2-background2 {
    background-color: #aea89d;
    width: 50%;
    display: flex;
    background-image: url('efeito-linhas.png');
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o espaço */
    background-position: center; /* Centraliza a imagem no container */
    justify-content: center;
    align-items: center;
  }

  .about2-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: white;
  }

  .about2-image img {
     width: 55px;
  }

  .about2-text h1 {
    font-size: 40px;
    line-height: 40px;
   
  }

  .about2-text P {
    font-size: 20px;
    margin-top: -10px;
  }

  .about3 {
    display: flex;
    width: 100%;
    height: 700px;
  }

  .about3-background1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aea89d;
    background-image: url('efeito-linhas.png');
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o espaço */
    background-position: center; /* Centraliza a imagem no container */
    width: 50%;
    
  }
  .about3-background2 {
    background-color: #3e5cab;
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .about3-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: white;
  }

  .about3-image img {
     width: 55px;
  }

  .about3-text h1 {
    font-size: 40px;
    line-height: 40px;
   
  }

  .about3-text P {
    font-size: 20px;
    margin-top: -10px;
  }

  .profile {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 80px;
  }

  .profile-content {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .profile-text p {
    margin-top: -30px;
    font-size: 20px;
    width: 50%;
    color: #333;
  }

  .profile-about {
    font-size: 20px;
    color: #33333396;
    margin-bottom: -10px;
  }

  .profile-crp {
    font-size: 15px;
    color: #333;
  }

  .profile-text h1 {
    font-size: 40px;
    color: #5a8f76;
  }

  .profile-image {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .profile-image img {
    width: 50%;
  }

  .profile-btn  {
    margin-top: 30px;
    background-color: #5a8f76; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    width: 25%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold; /* Texto em negrito */
    border: none; /* Remove borda padrão */
    border-radius: 30px; /* Deixa as bordas arredondadas */
    padding: 15px 40px; /* Tamanho interno do botão */
    cursor: pointer; /* Cursor de mãozinha */
    transition: all 0.3s ease; /* Transição suave para os efeitos */
    box-shadow: 0 5px 15px rgba(1, 97, 49, 0.4); /* Adiciona sombra */
  }
  
  .profile-btn:hover {
    background-color: #5a8f76; /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 8px 20px rgba(2, 66, 29, 0.6); /* Aumenta a sombra */
    transform: scale(1.05); /* Faz o botão crescer levemente */
  }
  
  .profile-btn:active  {
    transform: scale(0.95); /* Reduz o tamanho quando clicado */
    box-shadow: 0 4px 10px rgba(2, 83, 36, 0.6); /* Reduz a sombra */
  }
  
  .therapy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5a8f76;
  }
  
  .therapy-content {
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
  }
  
  .therapy-efects {
    position: absolute;
    top: -35px;
    transform: translateX(-30%);
  }
  
  .therapy-efects2 {
    position: absolute;
    top: 300px;
    transform: translateX(420%);
  }
  
  .therapy-cards {
    position: relative;
    width: 350px;
    height: 450px;
    padding: 20px;
    background: #5a8f76;
    border: solid 1px #fff;
    border-radius: 8px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.301);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;    /* Centraliza horizontalmente */
  }
  
  .circle-icon {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .circle-icon i {
    color: #fff;
    font-size: 24px;
  }

  .circle-icon img {
    width: 50px;
  }
  
  .therapy-card-text {
    text-align: center;
    max-width: 90%; /* Limita o texto */
  }
  
  .therapy-card-text h1 {
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 15px;
  }
  
  .therapy-card-text p {
    font-size: 18px;
    color: #fff;
    line-height: 1.5;
    word-wrap: break-word;
  }

 

  .contact-form {
    display: flex;
    justify-content: center;
   align-items: center;
   height: 80vh;
}

.contact-card {
  align-items: center;
  padding: 80px;
  width: 100%;
  align-items: center;
  max-width: 700px;
  background: linear-gradient(135deg, #ffffff, #ffffff);
  border-radius: 12px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  
}

.contact-form-header h1 {
    font-size: 2.2rem;
    font-weight: 600;
    color: #4a5568;
    margin-bottom: 10px;
}

.contact-form-header p {
    font-size: 1rem;
    color: #718096;
    margin-bottom: 70px;
}

.contact-form .form-group {
    margin-bottom: 25px;
    text-align: left;
}

.contact-form label {
    display: block;
    font-size: 0.9rem;
    font-weight: 600;
    color: #2d3748;
    margin-bottom: 5px;
}

.contact-form input {
    width: 100%;
    padding: 14px;
    font-size: 1rem;
    color: #2d3748;
    border: 1px solid #cbd5e0;
    border-radius: 8px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.contact-form input:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.3);
}

.contact-form .btn-submit {
    display: inline-block;
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(135deg, #6c63ff, #5a5cff);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(92, 91, 255, 0.2);
    transition: all 0.3s ease;
}

.contact-form .btn-submit:hover {
    background: linear-gradient(135deg, #5a5cff, #4949f5);
    box-shadow: 0 8px 15px rgba(74, 144, 226, 0.4);
    transform: translateY(-2px);
}

.contact-form .btn-submit:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(74, 144, 226, 0.2);
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px; /* Espaço interno do input */
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0.7;
}

.input-wrapper input {
  width: 100%;
  padding: 14px 14px 14px 40px; /* Espaço suficiente para os ícones */
  font-size: 1rem;
  color: #2d3748;
  border: 1px solid #cbd5e0;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-wrapper input::placeholder {
  color: #a0aec0;
}

.input-wrapper input:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
}

.form-group {
  margin-bottom: 25px;
}

.form-group label {
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  color: #2d3748;
  margin-bottom: 5px;
}

.btn-submit {
  display: inline-block;
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(135deg, #6c63ff, #5a5cff);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(92, 91, 255, 0.2);
  transition: all 0.3s ease;
}

.btn-submit:hover {
  background: linear-gradient(135deg, #5a5cff, #4949f5);
  box-shadow: 0 8px 15px rgba(74, 144, 226, 0.4);
  transform: translateY(-2px);
}

.btn-submit:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(74, 144, 226, 0.2);
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-logo h2 {
  margin: 0;
  font-size: 1.5rem;
}

.footer-logo p {
  margin: 5px 0 0;
  font-size: 0.9rem;
  color: #aaa;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
}

.footer-links {
  display: flex;
}

.footer-links a:hover {
  color: #1da1f2;
}

.footer-links img {
  width: 24px;
  height: 24px;
}

@media (max-width: 868px) {


  .therapy-content {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 120px;
    
  }
  

  .therapy-efects2 {
    display: f;
  }

  .therapy {
    height: min-content;
    padding: 20px;
  }

  .therapy-cards {
    position: relative;
    width: 250px;
    height: 350px;
    padding: 20px;
    background: #5a8f76;
    border: solid 1px #fff;
    border-radius: 8px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.301);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
  }

  .therapy-card-text h1 {
      font-size: 20px;
  }
  .therapy-card-text p {
    font-size: 15px;
}

.therapy-efects {
  position: absolute;
  top: -35px;
  transform: translateX(-30%);
}

.therapy-efects2 {
  position: absolute;
  width: 10%;
  top: 950px;
  transform: translateX(-220%);

}

.form-container {
  z-index: 50;
}

.nav {
  height: 40px;
  width: 100%;
  background-color: #203f8b;
  position: relative;
  border-bottom: 1px solid #3e5cab;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}



.nav-header {
  display: flex;
  align-items: center;
}

.nav-title {
  font-size: 22px;
  color: #23a7ff;
  margin: 0;
}

.nav-links a {
  text-decoration: none;
  color: #3e5cab;
  font-size: 16px;
  padding: 7px 20px;
  position: relative;
  overflow: hidden; /* Garante que o fundo não ultrapasse o link */
  transition: color 0.3s ease;
}

.nav-links {
  display: flex;
  flex-direction: column;
  background-color: #1a8fdd; }

.nav-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0px;
  align-items: center;
  background-color: #00a2ff17; 
  transition: transform 0.3s ease; 
  transform: scaleX(0); 
  transform-origin: bottom right; 
}

.nav-links a:hover::after {
  transform: scaleX(1); /* Expande o fundo para o tamanho total */
  transform-origin: bottom left; /* A expansão vai da parte inferior esquerda */
}

.nav-links a:hover {
  color: #21aeff; /* Muda a cor do texto ao passar o mouse */
}

.nav-btn img {
  display: none;
  width: 25px;
  cursor: pointer;
}

#nav-check {
  display: none;
}

.header {
  display: flex;
  justify-content: center;
  margin: 0px;
  height: 100vh;
  align-items: center;
}


.content-header {
  width: 50%;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  margin-top: -30%;

}

.content-text h1 {
 font-size: 40px;
 color: #203f8b;
 width: 80%;
 line-height: 40px;

}

.content-text p {
  font-size: 20px;
  line-height: 25px;
  width: 90%;
  margin-top: -10px;
  color: #6178b3;
 }

 

.image-header {
  width: 50%;
  overflow: hidden;
}

.image-header img {
  position: relative; /* Altere para 'absolute' se necessário */
width: 150%;
left: -300px; /* Move 50px para a esquerda */
}

.content-button button {
  margin-top: 30px;
  background-color: #3e5cab; /* Cor de fundo do botão */
  color: #fff; /* Cor do texto */
  font-size: 15px; /* Tamanho da fonte */
  font-weight: bold; /* Texto em negrito */
  border: none; /* Remove borda padrão */
  border-radius: 30px; /* Deixa as bordas arredondadas */
  padding: 10px 35px; /* Tamanho interno do botão */
  cursor: pointer; /* Cursor de mãozinha */
  transition: all 0.3s ease; /* Transição suave para os efeitos */
  box-shadow: 0 5px 15px rgba(35, 167, 255, 0.4); /* Adiciona sombra */
}

.content-button button:hover {
  background-color: #1a8fdd; /* Muda a cor de fundo ao passar o mouse */
  box-shadow: 0 8px 20px rgba(26, 143, 221, 0.6); /* Aumenta a sombra */
  transform: scale(1.05); /* Faz o botão crescer levemente */
}

.content-button button:active {
  transform: scale(0.95); /* Reduz o tamanho quando clicado */
  box-shadow: 0 4px 10px rgba(26, 143, 221, 0.6); /* Reduz a sombra */
}

.footer-container {
  margin-top: 100px;
  flex-direction: row;
  justify-content: space-between;
  
}

.footer-links {
  display: flex;
  gap: 20px;
}




}

  @media (max-width: 800px) {
    .nav-links {
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: #3e5cab;
      flex-direction: column;
      align-items: flex-start;
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease-in-out;
    }
  
    .nav-links a {
      width: 100%;
      padding: 10px 15px;
      color: #fff;
    }
  
    #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
    }
  
    .nav-btn label {
      display: block;
      margin-top: 10px;
      width: 50px;
      height: 50px;
      cursor: pointer;
      align-items: center;
      justify-content: center; /* This will center the content horizontally */
    }
  
    .nav-btn img {
      display: block;
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin: auto; /* This ensures the image is centered vertically */
    }
  
    .nav-btn {
      display: flex;
      align-items: center; /* Ensures vertical alignment */
      justify-content: center; /* Ensures horizontal centering */
    }

    @media (max-width: 868px) {


      .nav {
        position: fixed;
        top: 0; /* Fixa a navbar no topo da página */
        left: 0;
        padding: 25px 10px;
      }

      .image-header img {
        display: none;
      }

      .content-button button {
        margin-top: 30px;
        background-color: #3e5cab; /* Cor de fundo do botão */
        color: #fff; /* Cor do texto */
        font-size: 17px; /* Tamanho da fonte */
        font-weight: bold; /* Texto em negrito */
        border: none; /* Remove borda padrão */
        border-radius: 30px; /* Deixa as bordas arredondadas */
        padding: 15px 30px; /* Tamanho interno do botão */
        cursor: pointer; /* Cursor de mãozinha */
        transition: all 0.3s ease; /* Transição suave para os efeitos */
        box-shadow: 0 5px 15px rgba(35, 167, 255, 0.4); /* Adiciona sombra */
      }
      
      .content-button button:hover {
        background-color: #1a8fdd; /* Muda a cor de fundo ao passar o mouse */
        box-shadow: 0 8px 20px rgba(26, 143, 221, 0.6); /* Aumenta a sombra */
        transform: scale(1.05); /* Faz o botão crescer levemente */
      }
      
      .content-button button:active {
        transform: scale(0.95); /* Reduz o tamanho quando clicado */
        box-shadow: 0 4px 10px rgba(26, 143, 221, 0.6); /* Reduz a sombra */
      }
     
      .about1-background1 img {
        width: 70%;
        margin-top: 100px;
        margin-bottom: 100px;
      }

      .about3-background1 img {
        width: 70%;
      }

      .about2-background2 img {
        width: 75%;
      }
      
      .about1-text p {
        margin-left: 0px;
        font-size: 15px;
        width: 100%;
        display: flex;
        justify-content: center;
      }

      .about1-text h1 {
        line-height: 35px;
        font-size: 35px;
        margin-bottom: -10px;
        
      }

      .about2-text p {
        margin-left: 0px;
        font-size: 15px;
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
      }

      .about2-text h1 {
        line-height: 30px;
        font-size: 25px;
  
      }

      .about3-text p {
        margin-left: 0px;
        font-size: 15px;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
      }

      .about3-text h1 {
        line-height: 30px;
        font-size: 25px;
  
      }

      .profile {
        display: flex;
        height: min-content;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 80px;
      }
    
      .profile-content {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
    
      .profile-text p {
        margin-top: -30px;
        font-size: 20px;
        width: 100%;
        color: #333;
      }
    
      .profile-about {
        font-size: 20px;
        color: #33333396;
        margin-bottom: -5px;
        margin-top: 30px;
      }
    
      .profile-crp {
        font-size: 15px;
        color: #333;
      }
    
      .profile-text h1 {
        font-size: 40px;
        color: #5a8f76;
        line-height: 40px;
        margin-bottom: 50px;
      }
    
      .profile-image {
        width: 90%;
        display: flex;
        justify-content: start;
        margin-right: 50px;
      }
    
      .profile-image img {
        width: 50%;
      }
    
      .profile-btn  {
        margin-top: 30px;
        background-color: #5a8f76; /* Cor de fundo do botão */
        color: #fff; /* Cor do texto */
        font-size: 18px; /* Tamanho da fonte */
        width: 75%;
        display: flex;
        text-align: center;
        justify-content: center;
        font-weight: bold; /* Texto em negrito */
        border: none; /* Remove borda padrão */
        border-radius: 30px; /* Deixa as bordas arredondadas */
        padding: 15px 40px; /* Tamanho interno do botão */
        cursor: pointer; /* Cursor de mãozinha */
        transition: all 0.3s ease; /* Transição suave para os efeitos */
        box-shadow: 0 5px 15px rgba(1, 97, 49, 0.4); /* Adiciona sombra */
      }
      
      .profile-btn:hover {
        background-color: #5a8f76; /* Muda a cor de fundo ao passar o mouse */
        box-shadow: 0 8px 20px rgba(2, 66, 29, 0.6); /* Aumenta a sombra */
        transform: scale(1.05); /* Faz o botão crescer levemente */
      }
      
      .profile-btn:active  {
        transform: scale(0.95); /* Reduz o tamanho quando clicado */
        box-shadow: 0 4px 10px rgba(2, 83, 36, 0.6); /* Reduz a sombra */
      }

      footer {
        background-color: #203f8b;
        color: #fff;
        padding: 15px 0;
        text-align: center;
        margin-top: 20px;
        width: 100%; /* Certifica que o footer ocupa apenas o tamanho da tela */
        overflow: hidden; /* Evita elementos "vazando" */
      }
    
      .WhatsApp {
        margin-left: 10px;
      }
      
      .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-bottom: 30px;
      }
      
      .footer-logo h2 {
        margin: 0;
        font-size: 1.5rem;
      }
      
      .footer-logo p {
        margin: 5px 0 0;
        font-size: 0.9rem;
        color: #aaa;
      }
      
      .footer-links a {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 1rem;
      }
      
      .footer-links {
        display: flex;
      }
      
      .footer-links a:hover {
        color: #1da1f2;
      }
      
      .footer-links img {
        width: 18px;
        height: 18px;
      }

     
  }

  
    
  }

  /* Estilo base (mobile-first) */
.about, .about2, .about3 {
  display: flex;
  flex-direction: column; /* Empilha os cards por padrão */
  width: 100%;
  height: auto; /* Altura automática para adaptar ao conteúdo */
  
}

.about1-background1, .about1-background2,
.about2-background1, .about2-background2,
.about3-background1, .about3-background2 {
  width: 100%; /* Cada bloco ocupa 100% em telas pequenas */
  height: auto; /* Adapta a altura ao conteúdo */
  padding: 1rem; /* Espaçamento interno */
  text-align: center; /* Centraliza conteúdo em telas pequenas */
}

.about1-content, .about2-content, .about3-content {
  margin: 0 auto; /* Centraliza conteúdo */
  max-width: 800px; /* Limita a largura do texto */
}


.about1-text p, .about2-text p, .about3-text p {
  font-size: 1rem; /* Texto menor para dispositivos menores */
  line-height: 1.5;
}

.about1-text img, .about2-image img, .about3-image img {
  max-width: 100px; /* Limita o tamanho das imagens */
  margin: 1rem auto;
}

/* Ajustes para telas maiores */
@media (min-width: 768px) {
  .about, .about2, .about3 {
    flex-direction: row; /* Cards lado a lado em telas médias */
    height: 700px; /* Define altura padrão */
  }

  .about1-background1, .about1-background2,
  .about2-background1, .about2-background2,
  .about3-background1, .about3-background2 {
    width: 50%; /* Cada bloco ocupa metade da largura */
    height: 100%; /* Preenche a altura da seção */
    padding: 2rem;
  }

  .about1-content, .about2-content, .about3-content {
    max-width: 50%; /* Limita o texto a 50% */
  }

  

  .about1-text p, .about2-text p, .about3-text p {
    font-size: 1.125rem; /* Texto maior em telas médias */
  }

  .about1-text img, .about2-image img, .about3-image img {
    max-width: 150px; /* Imagens maiores em telas médias */
  }

  footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 10px;
}


.footer-logo p {
  margin: 5px 0 0;
  font-size: 1.9rem;
  color: #aaa;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: px;
  font-size: 1rem;
}

.footer-links {
  display: flex;
}

.footer-links a:hover {
  color: #1da1f2;
}

.footer-links img {
  width: 24px;
  height: 24px;
}


}

@media (min-width: 768px) {

  footer {
    background-color: #203f8b;
    color: #fff;
    padding: 15px 0;
    text-align: center;
    margin-top: 100px;
  }

  .WhatsApp {
    margin-left: 30px;
  }
  
  .footer-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .footer-logo h2 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  .footer-logo p {
    margin: 5px 0 0;
    font-size: 0.9rem;
    color: #aaa;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
  }
  
  .footer-links {
    display: flex;
  }
  
  .footer-links a:hover {
    color: #1da1f2;
  }
  
  .footer-links img {
    width: 24px;
    height: 24px;
  }
}

/* Ajustes para telas muito grandes */
@media (min-width: 1024px) {
  .about1-text h1, .about2-text h1, .about3-text h1 {
    font-size: 2.5rem; /* Títulos ainda maiores */
  }

  .about1-text p, .about2-text p, .about3-text p {
    font-size: 1.25rem; /* Texto ajustado */
  }

  .about1-text img, .about2-image img, .about3-image img {
    max-width: 200px; /* Imagens maiores */
  }
}

@media (min-width: 1124px) {
 
}


  