* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
  }
  
  .nav {
    height: 80px;
    width: 100%;
    background-color: #ffffff;
    position: relative;
    border-bottom: 1px solid #3e5cab;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
  }
  
  .nav-header {
    display: flex;
    align-items: center;
  }
  
  .nav-title {
    font-size: 22px;
    color: #23a7ff;
    margin: 0;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #3e5cab;
    font-size: 16px;
    padding: 7px 20px;
    position: relative;
    overflow: hidden; /* Garante que o fundo não ultrapasse o link */
    transition: color 0.3s ease;
  }
  
  .nav-links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    align-items: center;
    background-color: #006aa818; 
    transition: transform 0.3s ease; 
    transform: scaleX(0); 
    transform-origin: bottom right; 
  }
  
  .nav-links a:hover::after {
    transform: scaleX(1); /* Expande o fundo para o tamanho total */
    transform-origin: bottom left; /* A expansão vai da parte inferior esquerda */
  }
  
  .nav-links a:hover {
    color: #001d38; /* Muda a cor do texto ao passar o mouse */
  }
  
  .nav-btn img {
    display: none;
    width: 25px;
    cursor: pointer;
  }
  
  #nav-check {
    display: none;
  }

  .header {
    display: flex;
    justify-content: center;
    margin: 0px;
    height: 100vh;
    align-items: center;
  }
  

  .content-header {
    width: 50%;
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    margin-top: -5%;

  }

  .content-text h1 {
   font-size: 60px;
   color: #203f8b;
   width: 80%;
   line-height: 60px;

  }

  .content-text p {
    font-size: 30px;
    line-height: 40px;
    width: 70%;
    margin-top: -30px;
    color: #6178b3;
   }

   

  .image-header {
    width: 50%;
    overflow: hidden;
  }

  .image-header img {
    position: relative; /* Altere para 'absolute' se necessário */
  width: 150%;
  left: -300px; /* Move 50px para a esquerda */
  }

  .content-button button {
    margin-top: 30px;
    background-color: #3e5cab; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    font-weight: bold; /* Texto em negrito */
    border: none; /* Remove borda padrão */
    border-radius: 30px; /* Deixa as bordas arredondadas */
    padding: 15px 40px; /* Tamanho interno do botão */
    cursor: pointer; /* Cursor de mãozinha */
    transition: all 0.3s ease; /* Transição suave para os efeitos */
    box-shadow: 0 5px 15px rgba(35, 167, 255, 0.4); /* Adiciona sombra */
  }
  
  .content-button button:hover {
    background-color: #1a8fdd; /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 8px 20px rgba(26, 143, 221, 0.6); /* Aumenta a sombra */
    transform: scale(1.05); /* Faz o botão crescer levemente */
  }
  
  .content-button button:active {
    transform: scale(0.95); /* Reduz o tamanho quando clicado */
    box-shadow: 0 4px 10px rgba(26, 143, 221, 0.6); /* Reduz a sombra */
  }
  

  .about {
    display: flex;
    width: 100%;
    height: 700px;
  }

  .about1-background1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aea89d;
    background-image: url('efeito-linhas.png');
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o espaço */
    background-position: center; /* Centraliza a imagem no container */
    width: 50%;
}

.about1-content {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  width: 50%;
  color: white;
}

.about1-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
}


.about1-text img {
   width: 345px;
   display: flex;
   justify-content: center;
   margin-bottom: 20px;
   margin-left: 30px;
}

.about1-text h1 {
  font-size: 55px;
  text-align: center;
  line-height: 55px;
  margin-bottom: 20px;
 
}

.about1-text P {
  font-size: 20px;
  margin-top: 20px;
  margin-left: 30px;
}

  .about1-background2 {
    background-color: #3e5cab;
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .about2 {
    display: flex;
    width: 100%;
    height: 700px;
  }

  .about2-background1 {
    background-color: #5a8f76;
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .about2-background2 {
    background-color: #aea89d;
    width: 50%;
    display: flex;
    background-image: url('efeito-linhas.png');
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o espaço */
    background-position: center; /* Centraliza a imagem no container */
    justify-content: center;
    align-items: center;
  }

  .about2-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: white;
  }

  .about2-image img {
     width: 55px;
  }

  .about2-text h1 {
    font-size: 40px;
    line-height: 40px;
   
  }

  .about2-text P {
    font-size: 20px;
    margin-top: -10px;
  }

  .about3 {
    display: flex;
    width: 100%;
    height: 700px;
  }

  .about3-background1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aea89d;
    background-image: url('efeito-linhas.png');
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o espaço */
    background-position: center; /* Centraliza a imagem no container */
    width: 50%;
    
  }
  .about3-background2 {
    background-color: #3e5cab;
    width: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .about3-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    color: white;
  }

  .about3-image img {
     width: 55px;
  }

  .about3-text h1 {
    font-size: 40px;
    line-height: 40px;
   
  }

  .about3-text P {
    font-size: 20px;
    margin-top: -10px;
  }

  .profile {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 80px;
  }

  .profile-content {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .profile-text p {
    margin-top: -30px;
    font-size: 20px;
    width: 50%;
    color: #333;
  }

  .profile-about {
    font-size: 20px;
    color: #33333396;
    margin-bottom: -10px;
  }

  .profile-crp {
    font-size: 15px;
    color: #333;
  }

  .profile-text h1 {
    font-size: 40px;
    color: #5a8f76;
  }

  .profile-image {
    width: 50%;
    display: flex;
    justify-content: center;
  }

  .profile-image img {
    width: 50%;
  }

  .profile-btn  {
    margin-top: 30px;
    background-color: #5a8f76; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    font-size: 18px; /* Tamanho da fonte */
    width: 25%;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold; /* Texto em negrito */
    border: none; /* Remove borda padrão */
    border-radius: 30px; /* Deixa as bordas arredondadas */
    padding: 15px 40px; /* Tamanho interno do botão */
    cursor: pointer; /* Cursor de mãozinha */
    transition: all 0.3s ease; /* Transição suave para os efeitos */
    box-shadow: 0 5px 15px rgba(1, 97, 49, 0.4); /* Adiciona sombra */
  }
  
  .profile-btn:hover {
    background-color: #5a8f76; /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 8px 20px rgba(2, 66, 29, 0.6); /* Aumenta a sombra */
    transform: scale(1.05); /* Faz o botão crescer levemente */
  }
  
  .profile-btn:active  {
    transform: scale(0.95); /* Reduz o tamanho quando clicado */
    box-shadow: 0 4px 10px rgba(2, 83, 36, 0.6); /* Reduz a sombra */
  }
  
  .therapy {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5a8f76;
  }
  
  .therapy-content {
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
  }
  
  .therapy-efects {
    position: absolute;
    top: -35px;
    transform: translateX(-30%);
  }
  
  .therapy-efects2 {
    position: absolute;
    top: 300px;
    transform: translateX(420%);
  }
  
  .therapy-cards {
    position: relative;
    width: 350px;
    height: 450px;
    padding: 20px;
    background: #5a8f76;
    border: solid 1px #fff;
    border-radius: 8px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.301);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza verticalmente */
    align-items: center;    /* Centraliza horizontalmente */
  }
  
  .circle-icon {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .circle-icon i {
    color: #fff;
    font-size: 24px;
  }

  .circle-icon img {
    width: 50px;
  }
  
  .therapy-card-text {
    text-align: center;
    max-width: 90%; /* Limita o texto */
  }
  
  .therapy-card-text h1 {
    font-size: 30px;
    line-height: 30px;
    color: #fff;
    margin-bottom: 15px;
  }
  
  .therapy-card-text p {
    font-size: 18px;
    color: #fff;
    line-height: 1.5;
    word-wrap: break-word;
  }

 

  .contact-form {
    
    margin: 120px auto;
    z-index: 100;
    position: relative;
    align-items: center;
    padding: 40px;
    height: 80vh;
    width: 90%;
    max-width: 600px;
    background: linear-gradient(135deg, #f0f4f8, #ffffff);
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.contact-form-header h1 {
    font-size: 2.2rem;
    font-weight: 600;
    color: #4a5568;
    margin-bottom: 10px;
}

.contact-form-header p {
    font-size: 1rem;
    color: #718096;
    margin-bottom: 30px;
}

.contact-form .form-group {
    margin-bottom: 25px;
    text-align: left;
}

.contact-form label {
    display: block;
    font-size: 0.9rem;
    font-weight: 600;
    color: #2d3748;
    margin-bottom: 5px;
}

.contact-form input {
    width: 100%;
    padding: 14px;
    font-size: 1rem;
    color: #2d3748;
    border: 1px solid #cbd5e0;
    border-radius: 8px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.contact-form input:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.3);
}

.contact-form .btn-submit {
    display: inline-block;
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background: linear-gradient(135deg, #6c63ff, #5a5cff);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(92, 91, 255, 0.2);
    transition: all 0.3s ease;
}

.contact-form .btn-submit:hover {
    background: linear-gradient(135deg, #5a5cff, #4949f5);
    box-shadow: 0 8px 15px rgba(74, 144, 226, 0.4);
    transform: translateY(-2px);
}

.contact-form .btn-submit:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(74, 144, 226, 0.2);
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px; /* Espaço interno do input */
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0.7;
}

.input-wrapper input {
  width: 100%;
  padding: 14px 14px 14px 40px; /* Espaço suficiente para os ícones */
  font-size: 1rem;
  color: #2d3748;
  border: 1px solid #cbd5e0;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-wrapper input::placeholder {
  color: #a0aec0;
}

.input-wrapper input:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
}

.form-group {
  margin-bottom: 25px;
}

.form-group label {
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  color: #2d3748;
  margin-bottom: 5px;
}

.btn-submit {
  display: inline-block;
  width: 100%;
  padding: 15px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: linear-gradient(135deg, #6c63ff, #5a5cff);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(92, 91, 255, 0.2);
  transition: all 0.3s ease;
}

.btn-submit:hover {
  background: linear-gradient(135deg, #5a5cff, #4949f5);
  box-shadow: 0 8px 15px rgba(74, 144, 226, 0.4);
  transform: translateY(-2px);
}

.btn-submit:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(74, 144, 226, 0.2);
}


@media (max-width: 768px) {
    
}


  
  

  @media (max-width: 600px) {
    .nav-links {
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background-color: #333;
      flex-direction: column;
      align-items: flex-start;
      height: 0;
      overflow: hidden;
      transition: height 0.3s ease-in-out;
    }
  
    .nav-links a {
      width: 100%;
      padding: 10px 15px;
      color: #fff;
    }
  
    #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
    }
  
    .nav-btn label {
      display: block;
      margin-top: 10px;
      width: 50px;
      height: 50px;
      cursor: pointer;
      align-items: center;
      justify-content: center; /* This will center the content horizontally */
    }
  
    .nav-btn img {
      display: block;
      width: 30px;
      height: 30px;
      cursor: pointer;
      margin: auto; /* This ensures the image is centered vertically */
    }
  
    .nav-btn {
      display: flex;
      align-items: center; /* Ensures vertical alignment */
      justify-content: center; /* Ensures horizontal centering */
    }
  }
  